{% extends 'base.html' %}
{% load static %}


<body>
  {% block content %}
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 123455678990
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Email : demo@gmail.com
              </span>
            </a>
            <a href="{% url 'signinpage' %}">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <span>signin</span>
            </a>
          </div>
        </div>
      </div>
     
      

      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'indexpage' %}">
              <span>
                Inance
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'indexpage' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'aboutpage' %}"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'servicepage' %}">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contactpage' %}">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <section class="contact_section" style="padding: 50px 0px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item active">Profile: <strong> {{request.user.username}}</strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a class="nav-link" href="{% url 'stunotess' %}">Notes</a>
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Class Routine
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a class="nav-link" href="{% url 'stuhomeworks' %}">Home Works</a>
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              
              <a class="nav-link" href="{% url 'stulistview' %}">All Student View</a>
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a class="nav-link" href="{% url 'teacherslist' %}">Teachers List</a>
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
        
        <div class="col-md-10">
          <div class="row">
            <div class="col-12">
              <h4 class="border border-primary text-center" style="padding: 20px;">Welcome to Student Portal</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Message</a>
                      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>
                      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Message</a>
                      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>
                      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Message</a>
                      <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->




  {% endblock %}



